<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js"></script>
</head>
<body>
    <div id ="Slider" onclick="switchImage()" ondragend="switchImage()">
    <img src="..\Static\Images\ny.jpg" alt="Нью-Йорк" title="Нью-Йорк">
    <img src="..\Static\Images\spb.jpg" alt="Санкт-Петербург" title="Санкт-Петербург" style="display: none">
    <img src="..\Static\Images\london.jpg" alt="Лондон" title="Лондон" style="display: none">
    </div>
</body>
</html>